header {
    padding: 100px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

header div {
    margin: auto;
}

.title-text {
    font-size: 90px;
    font-family: 'Roboto', sans-serif;
}

.title-logo {
    height:24px;
    width:24px;
    margin: 0px 12px 0px 2px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration:none;
}

.title-logo:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-decoration:none;
}

section {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

section div {
    margin: auto;
}

.body-text {
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }

@media only screen and (max-width: 1094px) {
    .body-text {
        width: 95%;
    }
    .title-text {
        font-size: 60px;
        font-size: 10vw;
    }
}