.date {
  display:block;
  color: #303030;
  font-size: 20px;
}
  
.title{
  color: #1377BD;
  font-size: 16px;
  margin: 4px;
  font-weight:500;
}

.title:hover {
  text-decoration: none !important;
}

.content{
  display:block;
  color: #303030;
  margin:4px;
  font-weight:300;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

section div {
  margin: auto;
}

.body-text {
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

@media only screen and (max-width: 1094px) {
  .body-text {
      width: 95%;
  }
  .title-text {
      font-size: 60px;
      font-size: 10vw;
  }
}

.icon-title{
    display: flex;
    align-items: center;
}