{% extends "website/base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename = 'css/home.css') }}">
{% endblock %}

{% block body %}
<header>
    <div>
        <h1 class="title-text">Shawn Mittal</h1 class="title-text">
    </div>

    <div>
        <a target="_blank" href="https://github.com/shawnmittal">
            <img class="title-logo" src="website/static/images/github.svg">
        </a>
        <a target="_blank" href="https://www.linkedin.com/in/shawnmittal/">
            <img class="title-logo" src="website/static/images/linkedin-logo.svg">
        </a>
    </div>
</header>

<section>
    <div class="body-text">
        <p>
            I'm a data science technical lead with experience in helping government organizations solve technical
            challenges.
            My interests and experience are with deploying scalable machine learning applications on big data using
            HDFS, Kafka,
            Spark, and similar tools. All views experessed here are my own and do not reflect the opinions or viewpoints
            of my
            employer or the United States Government.
        </p>
        <p>
            Feel free to check out some of my projects and writings. You can get in touch with me via
            <a href="https://www.linkedin.com/in/shawnmittal">LinkedIn</a>, or via <a
                href="mailto:shawn.mittal@gmail.com">Email</a>.
        </p>
        <p>
            This website was built with Python Flask and is deployed as a containerized Python application on Azure App
            Services. You
            can check out the code for this website at my <a
                href="https://github.com/shawnmittal/azure_personal_website">GitHub</a>.
            By no means should you take this code as best practices for deployment of containerized applications. That
            being said, I do
            use a <a
                href="https://github.com/shawnmittal/azure_personal_website/blob/development/.github/workflows/main.yml">CI/CD
                pipeline</a> so I'm definitely #DevSecOps.
        </p>
    </div>
</section>
{% endblock %}