{% extends "website/base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('.static', filename = 'css/projects.css') }}">
{% endblock %}

{% block body %}
<section>
    <div class="body-text">
        <h1>Bokeh Example</h1>
        <p>
            View Example Here: <a href="/projects/bokeh_example" target="blank">Bokeh Example</a><br>
            View Code Here: <a href="https://github.com/shawnmittal/bokeh_flask_dashboard_example" target="blank">GitHub</a>
        </p>
        <p>
            This example application is meant to show how Bokeh, a Python library for interactive visualization, could be integrated
            with a simple flask application. For demonstration purposes, I've used the titanic dataset and created some simple
            charts that can be re-drawn via a class selector button.
        </p>
    </div>
</section>
{% endblock %}